extends layout
block content
    .row
        .col-md-3.col-xs-4
            button.btn.btn-info.btn-lg.btn-block(type='button' data-toggle="modal" data-target="#new_contact") Add new contact
            br
            if friends
                .panel.panel-default
                    .panel-body
                        ul.nav.nav-pills.nav-stacked(role="tablist")
                            each friend, index in friends
                                li(role="presentation" class=(index===0 ? 'active' : ''))
                                    a(href='##{friend.user.username}' aria-controls="#{friend.user.username}" role="tab" data-toggle="tab") #{friend.user.name.first} #{friend.user.name.last}
        .col-md-9.col-xs-8
            if friends
                .tab-content
                    each friend, index in friends
                        .tab-pane(role='tabpanel' id=friend.user.username class=(index===0 ? 'active' : ''))
                            .msgsBox.panel.panel-default
                                .panel-body
                                    .alert.alert-success
                                        strong= user.name.first
                                        p test sniofnsdiofsdpojfposdfjposdf
                                    .alert.alert-info
                                        strong= friend.user.name.first
                                        p sniofnsdiofsdpojfposdfjposdf
                            form(method='post' action='/chat/send').formMsg
                                .form-group
                                    textarea.form-control(rows='3' placeholder='Type message here...' data-fid='#{friend.friendship_id}' tabindex=1).textMsg
                                button.btn.btn-primary(type='submit').sendMsg Send

    include include/modal_contact
    include include/modal_about
    include include/modal_settings